* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #1d2b3a;
  max-height: 100vh;
  padding-top: 70px;
  color: white;
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #24262b;
}
.header .navbar {
  --bs-bg-opacity: 0;
  margin: 0 auto;
}
.header .navbar .container-fluid .navbar-brand {
  color: white;
}
.header .navbar .container-fluid .nav-item {
  --bs-nav-link-color: var;
}
.header .navbar .container-fluid .nav-item .nav-link {
  color: white;
}
.header .navbar .container-fluid .btn {
  background-color: white;
  --bs-btn-hover-color:#198754;
}
.header .navbar .container-fluid .navbar-brand:hover {
  transition: 0.5s ease;
  font-size: 30px;
  transform: translateY(5px);
}
.header .navbar .container-fluid .nav-item:hover {
  transition: 0.5s ease;
  font-size: 20px;
  transform: translateY(5px);
}

.contactoloreros .titulos {
  font-size: 4rem;
  text-align: center;
  margin: 60px;
  color: black;
}
.contactoloreros .contacttext {
  font-size: 40px;
}
.contactoloreros h2 {
  font-size: 50px;
}

.mainpagprin {
  display: grid;
  padding-right: 5px;
}
.mainpagprin h1 {
  font-size: 70px;
  text-align: center;
}
.mainpagprin h2 {
  margin: 20px;
}
.mainpagprin p {
  font-size: 20px;
  text-align: justify;
  flex-wrap: wrap;
  margin: 20px;
}

.librarytext h1 {
  font-size: 60px;
  text-align: center;
  padding: 20px;
}

.forotext h1 {
  font-size: 50px;
  text-align: center;
  padding: 20px 0 0 20px;
}
.forotext h2 {
  padding: 20px 0 0 20px;
  gap: 20px;
}

.dono .titulos {
  font-size: 50px;
  text-align: center;
  padding: 20px 0 0 20px;
}

.categorias ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 20px;
  width: 75%;
  gap: 20px;
}
.categorias ul li {
  background-color: grey;
  justify-content: center;
  padding: 20px;
}

.forotext .catforo ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  list-style: none;
}
.forotext .catforo ul li {
  background-color: grey;
  padding: 20px;
  width: 75%;
}

@media (max-width: 500px) {
  .categorias {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  .categorias ul {
    display: grid;
    grid-template-columns: 1fr;
  }
  .forotext .catforo ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
  }
  .forotext .catforo ul li {
    background-color: grey;
    padding: 20px;
    width: 50%;
  }
}
.bibli {
  gap: 1rem;
  font-size: 30px;
  padding: 20px 10px;
}

.dono .catdono {
  gap: 1rem;
  padding: 1rem;
}
.dono .catdono :hover {
  transform: translateY(-3%);
  transition: 0.5 ease;
}
.dono .catdono section {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  gap: 1rem;
}
.dono .catdono section .boton {
  background-color: grey;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
}

.donotext {
  padding-top: 1rem;
  padding-bottom: 20px;
}

@media (max-width: 820px) {
  .dono section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  width: 100%;
}
.footer .container {
  max-width: 1170px;
  margin: auto;
}
.footer .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .container .row .footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer .container .row .footer-col ul {
  list-style: none;
}
.footer .container .row .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer .container .row .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .container .row .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .container .row .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer .container .row .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer .container .row .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer .container .row .footer-col .social-links a:hover {
  color: #24262b;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
  }
}
:hover.fa-facebook {
  background-color: rgb(41, 78, 202);
  transition: all 0.5s ease;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

:hover.fa-twitter {
  background-color: #10c4f6;
  transition: all 0.5s ease;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

:hover.fa-instagram {
  background-color: #bb920a;
  transition: all 0.5s ease;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

:hover.fa-tiktok {
  background-color: rgb(73, 64, 64);
  transition: all 0.5s ease;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}/*# sourceMappingURL=styles.css.map */