.formulario{
    width: 340px;
    height: 440px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    .button{
      color: black;
    }
 }




    
