.categorias {
    ul{
        list-style: none;
        display: grid;
        grid-template-columns:  1fr 1fr;
        justify-content: space-between;
        margin: 20px;
        width: 75%;
        gap: 20px;
        li{
            background-color: grey;
            justify-content: center;
            padding: 20px;
        }
    }
}

.forotext{
    .catforo{
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            list-style: none;
            li{
                background-color: grey;
                padding: 20px;
                width: 75%;
            }
         }
    }
}

@media (max-width: 500px){
    .categorias{  
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    ul{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.forotext{
    .catforo{
        ul{
            display: grid;
            grid-template-columns: 1fr ;
            gap: 1rem;
            list-style: none;
            li{
                background-color: grey;
                padding: 20px;
                width: 50%;
            }
         }
    }
}
}