.categorias {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            100px,
            1fr
        )
    );
    gap: 3rem;
    font-size: 2rem;
    padding: 10px;

        a:hover {
            transform: translateY(10px);
            font-size: 40px;
            transition: 0.5s ease;
        }
    }
    .tarjetitas {
        display: grid;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content:center ;
        background-color:$negro;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 25%;
        h1{
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.5rem;
            padding-top: 10px;
        }
        a{
            text-align: center;
        }
    
    
}
@media (max-width: 500px){

    .categorias{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}